<nav class="navbar fixed-top navbar-dark bg-orange">

	<button class="navbar-toggler bg-dark collapsed pull-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand navbar-left bg-orange text-left" routerLink="/home">
		{{title}}
		<logo>{{title2}}</logo>
	</a>
	<logo class="pull-left">name here</logo>
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		 actions
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="#">logout</a>
			<a class="dropdown-item" href="#">profile</a>
		</div>
	</div>
</nav>