<nav class="navbar navbar-expand-lg navbar-dark bg-orange">

	<button class="navbar-toggle collapsed pull-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand pull-left bg-orange" routerLink="/home">
		{{title}}
		<span class="badge-primary">{{title2}}</span>
	</a>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/home">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink=""></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink=""></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/logout">Logout</a>
			</li>
		</ul>
	</div>
</nav>