<div class="container-fluid">
	<div class="row" style="background: #E65400; padding: 0.2em 0em 0.2em 0em">
		<div class="col-md-1">
			<div class="pull-right" style="border: solid 1px white">temp2
			</div>
			<div class="col-md-1 col-md-offset-2" style="margin-right:2em">
				<div class="pull-right" style="border: solid 1px white">bell
				</div>
			</div>
			<div class="col-md-1" id="nav-drop-down">
				<div class="pull-left" style="border: solid 1px white">temp1
				</div>
			</div>
			<div class="col-md-2">
				<label>BHP <span>IRIS</span></label>
			</div>
		</div>
	</div>
