h3 {
  font: bold arial;
}

div {
  margin: 0em 0em 0em 1em;
}

label {
  margin: 0em 0em 0em 0em;
}

input {
  border-radius: 0.2em;
  border: solid grey 1px;
  margin: 0 0 2.5em 0;
}

button {
  color: white;
  margin:0.3em;
}
