<app-navbar>
</app-navbar>
<div class="fixed-top" style="margin-top:56px">
  <app-weather-status></app-weather-status>
</div>
<div id="homepage">
  <mat-grid-list cols='5'>
    <mat-grid-tile [colspan]='1' [rowspan]='1'>
      <input type="number" placeholder="IOP/WO #" autofocus><br>
      <i class="fas fa-filter"></i>
    </mat-grid-tile>
    <mat-grid-tile [colspan]='4' [rowspan]='8'>
      <app-request-detail></app-request-detail>
    </mat-grid-tile>

    <mat-grid-tile [colspan]='1' [rowspan]='7'>
      <app-iop-list></app-iop-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>